/*===========================================================
=			HTML, BODY																						=
===========================================================*/
html, body {
	position: relative;
	font-family: 'conthrax';
	user-select: none;
	cursor: default;
	font-size: 12px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
@font-face{
	font-family: 'conthrax';
  src: url('font/conthrax.ttf');
}
/*===========================================================
=			Horizontal Line																				=
===========================================================*/
hr {
	width: 100%;
	height: 2px;
	margin: 6px 0 6px 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	background: linear-gradient(
		90deg,
		rgba(102, 102, 102, 1),
		rgba(102, 102, 102, .5),
		rgba(102, 102, 102, 0)
	);
}
/*===========================================================
=			Misc																									=
===========================================================*/
.hidden{ display: none; }
.visible{ display: initial; }
.imgFix { vertical-align: text-bottom; }

.fgrey{ color: rgb(102, 102, 102); }
.fwhite{ color: rgb(230, 230, 230); }
.fblue{ color: rgb(0, 204, 255); }
.fred{ color: rgb(255, 51, 0); }
.fgreen{ color: rgb(102, 255, 102); }
.forange{ color: rgb(255, 153, 51); }
.fpurple { color: rgb(204, 102, 255); }

.fcenter { text-align: center; }

.f8 { font-size: 8px; }
.f10 { font-size: 10px; }
.f14 { font-size: 14px; }
.f16 { font-size: 16px; }
/*===========================================================
=					Game Row																					=
===========================================================*/
.game {
	display: grid;
	grid-template-areas: 'sidebar-left game-left game-mid game-right sidebar-right';
	width: 80%;
	height: 100%;
	margin: 0 10% 0 10%;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, .2);
}
/*===========================================================
=					Game Columns																			=
===========================================================*/
.sidebar-left { grid-area: sidebar-left; }
.game-left { grid-area: game-left; }
.game-mid { grid-area: game-mid; }
.game-right { grid-area: game-right; }
.sidebar-right { grid-area: sidebar-right; }
/*===========================================================
=					Sidebar Left																			=
===========================================================*/
.sidebar-wrapper {
	width: 124px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
.sidebar-content {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	margin: 5px auto;
	padding: 10px;
	box-sizing: border-box;
}
.sidebar-item {
	position: relative;
	width: 64px;
	height: 64px;
	margin: 5px auto;
	padding: 0;
	box-sizing: border-box;
	cursor: pointer;
	opacity: .5;
	transition: opacity .3s;
}
.sidebar-item:hover { opacity: 1; }
.sidebar-item:hover .tooltip { display: grid; }
/*===========================================================
=					Game Left																					=
===========================================================*/
.stat-wrapper {
	width: 276px;
	height: auto;
	margin: 0 auto;
}
.stat-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0 auto;
	padding: 8px;
	box-sizing: border-box;
}
.stat {
	position: relative;
	width: 80px;
	height: auto;
	cursor: pointer;
	transition: background-color .3s ease-in-out;
}
.stat:hover { background-color: rgba(102, 102, 102, .2); }
.stat:hover .stat-num { color: rgb(230, 230, 230); }
.stat:hover .tooltip { display: grid; }

.stat-img {
	width: 64px;
	height: 64px;
	margin: 0 auto;
}
.stat-num {
	width: 80px;
	height: auto;
	padding: 4px;
	box-sizing: border-box;
	text-align: center;
	transition: color .3s ease-in-out;
}
.stat-tooltip {
	top: 0;
	left: 100px;
	animation: stat-tooltip-anim .3s ease-in-out;
}
@keyframes stat-tooltip-anim {
	from { left: 120px; opacity: 0; }
	to { left: 100px; opacity: 1; }
}
/*===========================================================
=					Game Mid																					=
===========================================================*/
.game-mid-wrapper {
	width: 532px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

.ore-img {
	position: relative;
	width: 512px;
	height: 512px;
}

#oreImg:hover { cursor: pointer; }
.ress { position: absolute; }

.floating-text {
	position: fixed;
	pointer-events: none;
}
/*===========================================================
=					Game Right																				=
===========================================================*/
.item-wrapper {
	width: 288px;
	height: auto;
	margin: 0 auto;
}
.item-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0 auto;
	padding: 8px;
	box-sizing: border-box;
}
.item {
	position: relative;
	width: 64px;
	height: auto;
	margin: 8px;
	box-sizing: border-box;
	cursor: pointer;
}
.item:hover .item-img { background-color: rgba(102, 102, 102, .2); }
.item:hover .tooltip { display: grid; }
.item-img {
	width: 64px;
	height: 64px;
	transition: background-color .3s ease-in-out;
}
.item-bar {
	width: 100%;
	height: 4px;
	background-color: rgba(0, 204, 255, .4);
}
.item-progress {
	height: 4px;
	background-color: rgba(0, 204, 255, 1);
}
.item-tooltip {
	top: 0;
	right: 84px;
	animation: item-tooltip-anim .3s ease-in-out;
}
@keyframes item-tooltip-anim {
  from { right: 104px; opacity: 0; }
	to { right: 84px; opacity: 1; }
}
/*===========================================================
=			Panel																									=
===========================================================*/
.panel {
	margin: 10px;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, .4);
}
.panel-header {
	position: relative;
	width: 100%;
	height: 28px;
	padding: 8px;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, .2);
	cursor: pointer;
	transition: background-color .3s ease-in-out;
}
.panel-header:hover { background-color: rgba(0, 0, 0, .4); }
.panel-header:hover .header-name { color: rgb(230, 230, 230); }
.panel-header:hover .tooltip { display: grid; }
.header-name { transition: color .3s ease-in-out; }

.panel-tooltip-left {
	top: 48px;
	left: 16px;
	animation: panel-tooltip-left-anim .3s ease-in-out;
}
@keyframes panel-tooltip-left-anim {
	from { left: 36px; opacity: 0; }
	to { left: 16px; opacity: 1; }
}
.panel-tooltip-right {
	top: 48px;
	right: 0;
	animation: panel-tooltip-right-anim .3s ease-in-out;
}
@keyframes panel-tooltip-right-anim {
	from { right: 20px; opacity: 0; }
	to { right: 0px; opacity: 1; }
}
/*===========================================================
=			Achievements wrapper																	=
===========================================================*/
.achievement-wrapper {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	width: 580px;
	height: auto;
	margin: 0 auto;
	box-sizing: border-box;
}
.masteries-wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 380px;
	height: auto;
	margin: 0 auto;
	box-sizing: border-box;
}
.achievement {
	position: relative;
	width: 48px;
	height: 48px;
	margin: 5px;
	box-sizing: border-box;
	cursor: pointer;
	box-shadow: inset 0 0 0 1px #808080;
	transition: box-shadow .3s;
}
.achievement:hover .tooltip { display: initial; }
.ach-tooltip {
	top: 82px;
	right: -93px;
	animation: ach-tooltip-anim .3s ease-in-out;
}
@keyframes ach-tooltip-anim {
	from { right: -73px; opacity: 0; }
	to { right: -93px; opacity: 1; }
}
/*===========================================================
=			Health bar																						=
===========================================================*/
.ore-content {
	position: relative;
	display: grid;
	grid-template-areas:
		'ore-lv ore-hp'
		'hp-bar hp-bar'
		'zone-bar zone-bar';
	width: 256px;
	height: auto;
	margin: 0 auto;
	padding: 8px;
	box-sizing: border-box;
	cursor: pointer;
	transition: background-color .3s ease-in-out;
}
.ore-content:hover { background-color: rgba(102, 102, 102, .2); }
.ore-content:hover .tooltip { display: grid; }
.ore-lv { grid-area: ore-lv; }
.ore-hp { grid-area: ore-hp; }
.ore-num {
	margin: 0 auto;
	padding: 10px;
	box-sizing: border-box;
}
.hp-bar {
	grid-area: hp-bar;
	width: 100%;
	height: 8px;
	background-color: rgba(0, 204, 255, .2);
}
.hp-progress {
	height: 8px;
	background-color: rgba(0, 204, 255, 1);
}
.zone-bar {
	grid-area: zone-bar;
	width: 80%;
	height: 4px;
	margin: 10px auto;
	padding: 0;
	box-sizing: border-box;
	background-color: rgba(102, 102, 102, .2);
}
.zone-progress {
	height: 4px;
	background-color: rgba(102, 102, 102, 1);
	transition: width .3s ease-in-out;
}
.ore-tooltip {
	top: 0;
	left: 276px;
	animation: ore-tooltip-anim .3s ease-in-out;
}
@keyframes ore-tooltip-anim {
	from { left: 296px; opacity: 0; }
	to { left: 276px; opacity: 1; }
}
/*===========================================================
=			Tooltip																								=
===========================================================*/
.tooltip {
	display: none;
	position: absolute;
	grid-template-columns: 80px 208px;
	grid-template-areas:
		'tooltip-lv tooltip-header'
		'tooltip-content tooltip-content';
	width: 288px;
	height: auto;
	background-color: rgba(0, 0, 0, .8);
	border-radius: 5px;
	z-index: 1;
}
.tooltip-lv {
	grid-area: tooltip-lv;
	padding: 8px;
	box-sizing: border-box;
}
.tooltip-header {
	grid-area: tooltip-header;
	padding: 20px 8px 20px 8px;
	box-sizing: border-box;
}
.tooltip-content {
	grid-area: tooltip-content;
	padding: 8px;
	box-sizing: border-box;
}
/*===========================================================
=			Notification container 																=
===========================================================*/
.notification-container {
	position: absolute;
	width: 20%;
	height: auto;
	right: 40%;
	bottom: 15px;
}
/*===========================================================
=			Notification  																				=
===========================================================*/
.notification{
	position: absolute;
	width: 100%;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .8);
	text-align: center;
}
@keyframes notification-anim {
	from { opacity: 1; }
	to { opacity: 0; }
}
/*===========================================================
=			Modal  																								=
===========================================================*/
.modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 1;
}
/*===========================================================
=			Modal panel  																					=
===========================================================*/
.modal-panel {
	position: relative;
	width: 50%;
	height: auto;
	margin: 50px auto;
	padding: 0;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, .9);
	cursor: default;
	animation-name: animatetop;
  animation-duration: .5s;
}
.modal-header {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	border-bottom: 1px solid rgba(66, 165, 245, 1);
}
.modal-content {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
}

@keyframes animatetop {
  from { top: -100%; opacity: 0; }
  to { top: 0%; opacity: 1; }
}

.modal-btn {
	width: 150px;
	height: auto;
	padding: 10px;
	margin: 5px auto;
	box-sizing: border-box;
	text-align: center;
	background-color: rgba(189, 189, 189, 0);
	border-bottom: 1px solid rgba(189, 189, 189, 1);
	cursor: pointer;
	transition: border .3s, background-color .3s, color .3s;
}

.modal-btn:hover {
	background-color: rgba(189, 189, 189, .3);
	border-bottom: 1px solid rgba(66, 165, 245, 1);
	color: rgb(230, 230, 230);
}
/*===========================================================
=					Animations																				=
===========================================================*/
@keyframes flash {
	0% { background-color: linear-gradient(180deg, rgba(0, 204, 255, 0), rgba(0, 204, 255, 1), rgba(0, 204, 255, 0)); }
	100% { background-color: linear-gradient(180deg, rgba(0, 204, 255, 1), rgba(0, 204, 255, 0), rgba(0, 204, 255, 1)); }
}

@keyframes crafting-anim {
	0% { box-shadow: inset 0 0 50px 0 rgba(0, 204, 255, 0); }
	50% { box-shadow: inset 0 0 50px 0 rgba(0, 204, 255, 1); }
	100% { box-shadow: inset 0 0 50px 0 rgba(0, 204, 255, 0); }
}

@keyframes ore-click-animation {
	0% { transform: scale(.99); }
	100% { transform: scale(1); }
}

@keyframes breathe {
	0% { transform: scale(1); }
	50% { transform: scale(1.25); color: #66BB6A; }
	100% { transform: scale(1); }
}
