/*===========================================================
=					Edit HTML & BODY																	=
===========================================================*/
html, body {
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'conthrax';
	font-size: 12px;
	line-height: 1.6;
	user-select: none;
	cursor: default;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .4);
}
@font-face{
	font-family: 'conthrax';
  src: url('font/conthrax.ttf');
}
/*===========================================================
=					Background Image																	=
===========================================================*/
.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/*===========================================================
=					Horizontal Line																		=
===========================================================*/
hr {
	width: 100%;
	height: 2px;
	margin: 8px 0 8px 0;
	border: 0;
	line-height: 1.6;
	background: linear-gradient(90deg, rgba(102, 102, 102, 1), rgba(102, 102, 102, 0));
}

.keyboard-btn {
	display: inline-block;
	width: 32px;
	height: auto;
	margin: 4px;
  padding: 0;
	box-sizing: border-box;
	font-family: 'conthrax';
	border-radius: 4px;
  background-color: rgba(230, 230, 230, 1);
  box-shadow: inset 0 0 4px 2px rgba(102, 102, 102, 1);
	border: 1px solid rgba(230, 230, 230, 1);
}
/*===========================================================
=					Miscellaneous																			=
===========================================================*/
.hidden{ display: none; }
.visible{ display: initial; }
.imgFix { vertical-align: text-bottom; }
.fcenter { text-align: center; }

.fgrey{ color: rgb(102, 102, 102); }
.fwhite{ color: rgb(230, 230, 230); }
.fblue{ color: rgb(0, 204, 255); }
.fred{ color: rgb(255, 51, 0); }
.fgreen{ color: rgb(102, 255, 102); }
.forange{ color: rgb(255, 153, 51); }
.fpurple { color: rgb(204, 102, 255); }

.f8 { font-size: 8px; }
.f10 { font-size: 10px; }
.f14 { font-size: 14px; }
.f16 { font-size: 16px; }
/*===========================================================
=					Game Row																					=
===========================================================*/
.game {
	display: grid;
	grid-template-areas: 'outter-left inner-left mid inner-right outter-right';
	width: 1384px; /* MATH: outter-left(w128) + inner-left(w312) + mid(w528) + inner-right(w288) + outter-right(w128) = 1384px */
	height: 100%;
	margin: 0 auto;
}
/*===========================================================
=					Game Columns																			=
===========================================================*/
.outter-left {
	grid-area: outter-left;
	width: 128px; /* MATH: item(w64 + m16) + panel(m16 + p32) = 128px */
	height: auto;
}
.inner-left {
	grid-area: inner-left;
	width: 312px; /* MATH: stat(w88 x3/col) + panel(m16 + p32) = 312px*/
	height: auto;
}
.mid {
	grid-area: mid;
	width: 528px; /* MATH: ore-img(w512) + panel(m16 + p32) = 528px */
	height: auto;
}
.inner-right {
	grid-area: inner-right;
	width: 288px; /* MATH: item(w64 + m16 x3/col) + panel(m16 + p32) = 288px*/
	height: auto;
}
.outter-right {
	grid-area: outter-right;
	width: 128px; /* MATH: item(w64 + m16) + panel(m16 + p32) = 128px */
	height: auto;
}
/*===========================================================
=					Panel																							=
===========================================================*/
.panel {
	margin: 16px 8px;
	background-color: rgba(0, 0, 0, .4);
	/*box-shadow: 0 0 0px 1px rgba(0, 204, 255, .4);*/
}
.panel-header {
	position: relative;
	width: 100%;
	height: auto;
	padding: 8px 0 8px 0;
	box-sizing: border-box;
	cursor: pointer;
	background-color: rgba(0, 0, 0, .2);
	transition: color .3s ease-in-out;
}
.panel-header:hover { color: rgb(230, 230, 230); }
.panel-header:hover .tooltip { display: grid; }
.panel-content {
	display: grid;
	margin: 0 auto;
	padding: 16px;
	box-sizing: border-box;
}
.one-per-row { grid-template-columns: repeat(1, 1fr); }
.three-per-row { grid-template-columns: repeat(3, 1fr); }
.nine-per-row { grid-template-columns: repeat(9, 1fr); }

.panel-tooltip-left {
	top: 52px; /* MATH: panel-header(h28) + distance(w24) = 52px */
	left: 24px; /* MATH: distance(w24) = 24px */
	animation: panel-tooltip-left-anim .3s ease-in-out;
}
@keyframes panel-tooltip-left-anim { /* MATH: distance(w32) = 32px */
	from { left: 56px; opacity: 0; }
	to { left: 24px; opacity: 1; }
}
.panel-tooltip-right {
	top: 52px; /* MATH: panel-header(h28) + distance(w24) = 52px */
	right: 24px; /* MATH: distance(w24) = 24px */
	animation: panel-tooltip-right-anim .3s ease-in-out;
}
@keyframes panel-tooltip-right-anim { /* MATH: distance(w32) = 32px */
	from { right: 56px; opacity: 0; }
	to { right: 24px; opacity: 1; }
}
/*===========================================================
=					Stat Box																					=
===========================================================*/
.stat {
	position: relative;
	width: 88px;
	height: auto;
	cursor: pointer;
}
.stat:hover .stat-img { opacity: 1; }
.stat:hover .stat-num { color: rgb(230, 230, 230); }
.stat:hover .tooltip { display: grid; }
.stat-img {
	width: 64px;
	height: 64px;
	margin: 0 auto;
	opacity: .6;
	transition: opacity .3s ease-in-out;
}
.stat-num {
	width: 100%;
	height: auto;
	padding: 8px 0 8px 0;
	box-sizing: border-box;
	transition: color .3s ease-in-out;
}
.stat-tooltip {
	top: 0;
	left: 112px; /* MATH: stat(w88) + distance(w24) = 112px */
	animation: stat-tooltip-anim .3s ease-in-out;
}
@keyframes stat-tooltip-anim { /* MATH: distance(w32) = 32px */
	from { left: 144px; opacity: 0; }
	to { left: 112px; opacity: 1; }
}
/*===========================================================
=					Item Box																					=
===========================================================*/
.item {
	position: relative;
	width: 64px;
	height: auto;
	margin: 8px;
	cursor: pointer;
}
.item:hover .item-img{ opacity: 1; }
.item:hover .tooltip { display: grid; }
.item-img {
	width: 64px;
	height: 64px;
	opacity: .6;
	transition: opacity .3s ease-in-out;
}
.item-bar {
	width: 80%;
	height: 2px;
	margin: 4px auto 4px auto;
	background-color: rgba(102, 102, 102, .2);
}
.item-progress {
	height: 2px;
	background-color: rgba(102, 102, 102, 1);
}
.item-tooltip-right {
	top: 0;
	right: 96px; /* MATH: item(w64 + m8) = 72px + distance(w24) = 96px */
	animation: item-tooltip-right-anim .3s ease-in-out;
}
@keyframes item-tooltip-right-anim { /* MATH: distance[w32] = 32px */
	from { right: 128px; opacity: 0; }
	to { right: 96px; opacity: 1; }
}
.item-tooltip-left {
	top: 0;
	left: 96px; /* MATH: item(w64 + m8) = 72px + distance(w24) = 96px */
	animation: item-tooltip-left-anim .3s ease-in-out;
}
@keyframes item-tooltip-left-anim { /* MATH: distance[w32] = 32px */
	from { left: 128px; opacity: 0; }
	to { left: 96px; opacity: 1; }
}
.item-tooltip-bottom {
	top: 98px; /* MATH: item(h74) + distance(w24) = 80px */
	right: -112px; /* MATH: tooltip(w288/2) - item(w64/2) = 112px */
	animation: item-tooltip-bottom-anim .3s ease-in-out;
}
@keyframes item-tooltip-bottom-anim { /* MATH: distance[w32] = 32px */
	from { right: -80px; opacity: 0; }
	to { right: -112px; opacity: 1; }
}
/*===========================================================
=					Game Mid																					=
===========================================================*/
.ore-img {
	position: relative;
	width: 512px;
	height: 512px;
	cursor: pointer;
}
.animated-resource {
	position: absolute;
	pointer-events: none;
}
.floating-text {
	position: fixed;
	pointer-events: none;
}
/*===========================================================
=					Ore Stats																					=
===========================================================*/
.ore-content {
	position: relative;
	display: grid;
	grid-template-areas:
		'ore-lv ore-hp'
		'hp-bar hp-bar'
		'zone-bar zone-bar';
	width: 256px;
	height: auto;
	margin: 0 auto;
}
.ore-lv { grid-area: ore-lv; }
.ore-hp { grid-area: ore-hp; }
.ore-num {
	margin: 0 auto;
	padding: 8px 0 8px 0;
	box-sizing: border-box;
}
.hp-bar {
	grid-area: hp-bar;
	width: 100%;
	height: 8px;
	background-color: rgba(0, 204, 255, .2);
}
.hp-progress {
	height: 8px;
	background-color: rgba(0, 204, 255, 1);
}
.zone-bar {
	grid-area: zone-bar;
	width: 80%;
	height: 4px;
	margin: 8px auto 8px auto;
	background-color: rgba(230, 230, 230, .2);
}
.zone-progress {
	height: 4px;
	background-color: rgba(230, 230, 230, 1);
	transition: width .3s ease-in-out;
}
.ore-tooltip {
	top: 50px; /* MATH: ore-content(h74) - distance(w24) = 50px */
	right: 112px; /* MATH: tooltip(w288/2) - mid(w512/2) = 112px */
	animation: ore-tooltip-anim .3s ease-in-out;
}
@keyframes ore-tooltip-anim { /* MATH: distance[w32] = 32px */
	from { right: 144px; opacity: 0; }
	to { right: 112px; opacity: 1; }
}
/*===========================================================
=					Tooltip																						=
===========================================================*/
.tooltip {
	display: none;
	position: absolute;
	width: 288px;
	height: auto;
	background-color: rgba(0, 0, 0, .8);
	box-shadow: 0 0 4px 2px rgba(0, 204, 255, .2);
	z-index: 1;
}
.tooltip-header {
	background-color: rgba(0, 0, 0, .6);
	padding: 8px 0 8px 0;
	box-sizing: border-box;
}
.tooltip-content {
	padding: 16px;
	box-sizing: border-box;
}
/*===========================================================
=			Notification container 																=
===========================================================*/
.notification-container {
	position: absolute;
	width: 20%;
	height: auto;
	right: 40%;
	bottom: 15px;
}
/*===========================================================
=			Notification  																				=
===========================================================*/
.notification{
	position: absolute;
	width: 100%;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .8);
}
@keyframes notification-anim {
	from { opacity: 1; }
	to { opacity: 0; }
}
/*===========================================================
=					Modal																							=
===========================================================*/
.modal-area {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .4);
	z-index: 1;
}
.modal-panel {
	position: relative;
	width: 752px;
	height: auto;
	margin: 64px auto 0 auto;
	background-color: rgba(0, 0, 0, .8);
	box-shadow: 0 0 8px 4px rgba(0, 204, 255, .4);
	animation: modal-anim .3s ease-in-out;
}
@keyframes modal-anim {
  from { top: -100%; opacity: 0; }
  to { top: 0%; opacity: 1; }
}
.modal-header {
	width: 100%;
	height: auto;
	padding: 8px 0 8px 0;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, .6);
}
.modal-content {
	display: grid;
	margin: 0 auto;
	padding: 16px;
	box-sizing: border-box;
}
.modal-btn {
	width: 128px;
	height: auto;
	margin: 8px auto;
	padding: 8px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0);
	border-bottom: 1px solid rgba(102, 102, 102, 1);
	cursor: pointer;
	transition: all .3s ease-in-out;
}
.modal-btn:hover {
	background-color: rgba(102, 102, 102, .2);
	border-bottom: 1px solid rgba(0, 204, 255, 1);
	color: rgb(230, 230, 230);
}
/*===========================================================
=					Animations																				=
===========================================================*/
@keyframes crafting-anim {
	0% { box-shadow: inset 0 0 50px 0 rgba(0, 204, 255, 0); }
	50% { box-shadow: inset 0 0 50px 0 rgba(0, 204, 255, 1); }
	100% { box-shadow: inset 0 0 50px 0 rgba(0, 204, 255, 0); }
}
